<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>

		<!-- CSS only -->
		<link rel="stylesheet" href="/css/styles.css" />

		<title>Manpower Requisition Form</title>
	</head>
	<body>
		
		
		<!-- Mobile and tablet responsiveness message -->
		<div class="container mobile-tablet-responsiveness-message">
			<div class="row d-flex justify-content-center">
				<div class="col-md-10" style="border-bottom: 4px solid lightgray;">
					<h4 style="margin-top: 10rem;">
						We're working our best to make this website readable on mobile and tablet
						devices.
					</h4>
				</div>
			</div>
		</div>
		<!-- End mobile and tablet responsiveness message -->
		
		
		<div class="hide-me">

		
		

		<!-- back arrow -->
		<div
			class="login-back-arrow d-inline-block"
			onclick="location.href='/hr-all';"
			style="cursor: pointer;"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="30"
				height="30"
				fill="currentColor"
				class="bi bi-chevron-left"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
				/>
			</svg>
		</div>

		

		
		<!-- Three dots icon and dropdown inside -->
		<div class="d-inline-block login-three-dots">
			
			<div
				style="cursor: pointer;"
				id="dropdownMenuButton1"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="30"
					height="30"
					fill="currentColor"
					class="bi bi-three-dots-vertical"
					viewBox="0 0 16 16"
				>
					<path
						d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
					/>
				</svg>
			</div>

			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				
				<li><a class="dropdown-item" href="/hr-id/<%= oneRequest["ID"] %>">Refresh page</a></li>
				<!-- <li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li> -->
				
			</ul>
			
		</div> <!-- End of three dots icon and dropdown inside -->
		
		<h2 class="text-center mt-3">View Request</h2>
		<div class="requestor-hr">
			<hr />
		</div>

		
		
		<form action="/hr-id/<%= oneRequest["ID"] %>?_method=put" method="post">
			<div class="container">
				<div class="row justify-content-end mt-4">
					<div class="col-md-7 requestor-create-padding">
						
						
						<!-- Status start here -->
						<% var statusColor = "light" %>
						
						<% if (oneRequest["Bu Approval"] === "Decline") statusColor = "danger" %>
						<% if (oneRequest["Hr Approval"] === "Decline") statusColor = "danger" %>
						<% if (oneRequest["Ceo Approval"] === "Decline") statusColor = "danger" %>
						
						<% if (oneRequest["Ceo Approval"] === "Approve") statusColor = "success" %>
						
						<% if (statusColor === "light"){ %>
						       <% var border = "1px" %>
						<% } else {%>
						       <% var border = "0" %>
						<% } %>
						
						<!-- Bu status -->
						<% if (oneRequest["Bu Approval"] === ""){ %>
							   <% var buStatus = "Pending" %>
						<% } else { %>
						       <% var buStatus = oneRequest["Bu Approval"] %>
						<% } %>
						
						<!-- Hr status -->
						<% if (oneRequest["Hr Approval"] === ""){ %>
							   <% var hrStatus = "Pending" %>
						<% } else { %>
						       <% var hrStatus = oneRequest["Hr Approval"] %>
						<% } %>
						
						<!-- Ceo status -->
						<% if (oneRequest["Ceo Approval"] === ""){ %>
							   <% var ceoStatus = "Pending" %>
						<% } else { %>
						       <% var ceoStatus = oneRequest["Ceo Approval"] %>
						<% } %>
						
						<!-- If bu status is decline -->
						<% if (oneRequest["Bu Approval"] === "Decline"){ %>
							   <% hrStatus = "" %>
						       <% ceoStatus = "" %>
						<% } %>
						
						<!-- If Hr status is decline -->
						<% if (oneRequest["Hr Approval"] === "Decline"){ %>
						       <% ceoStatus = "" %>
						<% } %>
						
						
						<div class="alert alert-<%= statusColor %> alert-dismissible fade show" role="alert" style="border: <%= border %> solid black;">
							<span class="me-5"><strong>STATUS</strong></span>
							<span class="me-5">Bu: <%= buStatus %></span>
							<span class="me-5">Hr: <%= hrStatus %></span>
							<span class="me-5">Ceo: <%= ceoStatus %></span>     
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="alert"
								aria-label="Close"
							></button>
						</div>
						<!-- Status end here -->
						
						
						
						
					</div>
				</div>
				
				<div class="row justify-content-end mt-1">
					<div class="col-md-3">
						<h6>
							Control no.
						</h6>
					</div>

					<div class="col-md-7">
						<input readonly class="form-control form-control-lg" type="text"
						value="<%= oneRequest["ID"] %>" />
					</div>
				</div>
				

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							BU Lead Name
						</h6>
					</div>

					<div class="col-md-7">
						<input readonly class="form-control form-control-lg" type="text"
						value="<%= oneRequest["Bu Lead Name"] %>" />
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							BU / SSU
						</h6>
					</div>

					<div class="col-md-7">
						<input readonly class="form-control form-control-lg" type="text"
						value="<%= oneRequest["Bu / ssu"] %>" />
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Section / Department
						</h6>
					</div>

					<div class="col-md-7">
						<input readonly class="form-control form-control-lg" type="text"
						value="<%= oneRequest["Section Department"] %>"
						/>
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Position Title
						</h6>
					</div>

					<div class="col-md-7">
						<div class="form-group">
							<input
								readonly   
								class="form-control form-control-lg"
								type="text"
								value="<%= oneRequest["Position Title"] %>"
							/>
						</div>
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Place of Assignment
						</h6>
					</div>

					<div class="col-md-7">
						<input
							    readonly
								class="form-control form-control-lg"
								type="text"
								value="<%= oneRequest["Place of Assignment"] %>"
							/>
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Tools Needed
						</h6>
					</div>

					<div class="col-md-7">
						<input
							    readonly
								class="form-control form-control-lg"
								type="text"
								value="<%= oneRequest["Tools Needed"] %>"
							/>
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Breif Description of The Job
						</h6>
					</div>

					<div class="col-md-7">
						<textarea
							readonly	  
							class="form-control"
							id="exampleFormControlTextarea1"
							rows="8"
						> <%= oneRequest["Breif Description of The Job"] %> </textarea>
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Educational Degree / Certificate or License
						</h6>
					</div>

					<div class="col-md-7">
						<textarea
							readonly	  
							class="form-control"
							id="exampleFormControlTextarea1"
							rows="8"
						> <%= oneRequest["Educational Degree"] %> </textarea>
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Specific Characteristic / Skills Needed
						</h6>
					</div>

					<div class="col-md-7">
						<textarea
							readonly
							class="form-control"
							id="exampleFormControlTextarea1"
							rows="8"
						> <%= oneRequest["Specific Characteristic"] %> </textarea>
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Type of Employment
						</h6>
					</div>

					<div class="col-md-7">
						<input
							    readonly
								class="form-control form-control-lg"
								type="text"
								value="<%= oneRequest["Type of Employment"] %>"
							/>
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Type of Request
						</h6>
					</div>

					<div class="col-md-7">
						<input
							    readonly
								class="form-control form-control-lg"
								type="text"
								value="<%= oneRequest["Type of Request"] %>"
							/>
					</div>
				</div>

				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Remarks
						</h6>
					</div>

					<div class="col-md-7">
						<textarea
							readonly	  
							class="form-control"
							id="exampleFormControlTextarea1"
							rows="8"
						> <%= oneRequest["Remarks"] %> </textarea>
					</div>
				</div>
				
				
				
				<hr class="text-danger">
				
				<br>
				<br>
				
				<div class="row justify-content-end mt-4">
					<div class="col-md-3">
						<h6>
							Hr Approval
						</h6>
					</div>

					<div class="col-md-7">
						<% if (oneRequest["Hr Approval"] === ""){ %>
						<select name="hrApproval" class="form-control form-control-lg">
							<option>Approve or Decline...</option>
							<option>Approve</option>
							<option>Decline</option>
						</select>
						<% } %>
						
						<% if (oneRequest["Hr Approval"] === "Approve"){ %>
						<input
							readonly
							class="form-control form-control-lg"
							type="text"
							value="<%= oneRequest["Bu Approval"] %>"
						/>
						<% } %>
						
						<% if (oneRequest["Hr Approval"] === "Decline"){ %>
						<input
							readonly
							class="form-control form-control-lg"
							type="text"
							value="<%= oneRequest["Bu Approval"] %>"
						/>
						<% } %>
						
						
					</div>
				</div>
				
				<% if (oneRequest["Hr Approval"] === ""){ %>
				<div class="float-end mt-2">
					<button type="submit" class="btn btn-secondary">Submit</button>
				</div>
				<% } %>
				
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

			</div>
		</form>

			
		
	</div>
	<!-- hide-me -->
	
	
		<!-- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>